.App {
  text-align: center;
}

body {
  background-color: #FFE4E1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.format {
  height:150px;
  width:20%;
  display: inline;
  border-radius: 50%;
  box-shadow: 2px 2px 2px;
  border: 1px solid #D9D9D9;
  overflow-y:hidden;
}

.choiceBar {
  width: auto;
  height: 150px;
}

.template {
  width: 550px;
  height: 550px;
  margin-top: 10%;
  border-radius: 5px;
  border-color: gray;
  border-width:medium;
  border-style:ridge;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}

.group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.container template img {
    max-width: 100%;
    display: block;
    position: relative;
}

p {
  color: white;
  font-size: 35px;
}

/* Top text */
.top {
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    top: 8px;
    transform: translate(-50%, 110%);
}

/* Bottom text */
.bottom {
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    bottom: -8px;
    transform: translate(-50%, 0%);
}

.slider {
  pointer-events:none;
}

.slide {
  pointer-events:none;
}

.child {
  pointer-events:auto;
}
